/* Nikhil - Dark theme */

.theme-light {
  /* Base Colors */
  --color-base-00: #ffffff;
  --color-base-05: #fcfcfc;
  --color-base-10: #fafafa;
  --color-base-20: #f6f6f6;
  --color-base-25: #e3e3e3;
  --color-base-30: #e0e0e0;
  --color-base-35: #d4d4d4;
  --color-base-40: #bdbdbd;
  --color-base-50: #ababab;
  --color-base-60: #707070;
  --color-base-70: #5c5c5c;
  --color-base-100: #222222;

  /* Accent Colors */
  --accent-h: 258;
  --accent-s: 88%;
  --accent-l: 66%;
  --color-accent: hsl(var(--accent-h), var(--accent-s), var(--accent-l));
}

.theme-dark {
  /* Base Colors */
  --color-base-00: #000000;
  --color-base-05: #141414;
  --color-base-10: #191919;
  --color-base-20: #1e1e1e;
  --color-base-25: #2a2a2a;
  --color-base-30: #363636;
  --color-base-35: #3f3f3f;
  --color-base-40: #555555;
  --color-base-50: #666666;
  --color-base-60: #999999;
  --color-base-70: #b3b3b3;
  --color-base-100: #dadada;

  /* Accent Colors */
  --accent-h: 258;
  --accent-s: 88%;
  --accent-l: 66%;
  --color-accent: hsl(var(--accent-h), var(--accent-s), var(--accent-l));
}
